.sort-page {
    display: flex;
    height: 84.9vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-fundo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.sort-page-Container,
.result-page-Container {
    height: 300px;
    width: 300px;
    display: flex;
    margin-top: 15rem;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    color: white;
}

.sor-page-btn-container {
    display: flex;
}

.sort-word {
    color: white;
}

.coin-container {
    z-index: 1;
}